<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>实例</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="book in books">{{book.name}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        new Vue({
            el:'#app',
            data: {
                books: [
                    {name: '《随便的字符串>'},
                    {name: '《java》'},
                    {name: '《Json》'}
                ]
            }
        })
    </script>
<!--尝试使用多个Vue对象-->
    <div id="namespace">
        <input type="text" v-model="name" placeholder="你的名字">
        <h1>你好，{{name}}</h1>
    </div>
    <script>
        var app = new Vue({
            el:'#namespace',
            data:{
                name:''
            }
        })
    </script>
    <script>
        var shit = new Vue({
            el:'#namespace',
            data: {
                a: 2
            },
            created: function(){
                console.log(this.a);
            },
            mounted: function () {
                console.log(this.$el);
            }
        })
    </script>
    <div id="clock">
        {{data}}
    </div>
    <script>
        var clock = new Vue({
            el: '#clock',
            data: {
                data: new Date()
            },
            //如果此处不使用this会如何
            mounted: function () {
                this.timers = setInterval(function () {
                    //作用域发生了改变，this不再指向clock对象
                    clock.data = new Date();
                },500);
            },
            //释放定时器
            beforeDestroy: function () {
                if (this.timers){
                    clearInterval(this.timers);
                }
            }
        })
    </script>
    <div id="appLink">
        <span v-html="link"></span>
        <span v-pre>{{此处的内容不会被编译，将会原模原样进行显示}}</span>
    </div>
    <script>
        var htmlLink = new Vue({
            el:'#appLink',
            data: {
                link: '<a href="https://translate.google.cn">这是一个链接</a>'
            }
        })
    </script>
    <div id="javaScriptLine">
        {{number/10}}
        <span v-pre>{{isOK? '确定':'取消'}}</span>
        {{text.split('.').reverse().join(',')}}
    </div>
    <script>
        var apt = new Vue({
            el:'#javaScriptLine',
            data:{
                number:100,
                isOk:false,
                text:'123.456'
            }
        })
    </script>
    <div id="apkt">
        <a v-bind:href="url">链接</a>
        <img v-bind:src="imgUrl">
    </div>
    <script>
        var app = new Vue({
            el:'#apkt',
            data:{
                url:'http://www.gothub.com',
                imgUrl:'https://img.alicdn.com/imgextra/i4/143719062/TB25xTvkr8kpuFjy0FcXXaUhpXa_!!143719062.jpg'
            }
        })
    </script>
    <div id="assk">
        <p v-if="showInfo">一段可以隐藏的文本信息</p>
        <button v-on:click="handleClose">点击按钮隐藏文本信息</button>
    </div>
    <script>
        new Vue({
            el:'#assk',
            data:{
                showInfo:true
            },
            methods:{
                handleClose:function(){
                    if (this.showInfo) {
                        this.showInfo = false;
                    }else{
                        this.showInfo=true;
                    }
                }
            }

        })
    </script>
    <div id="count">
        点击次数:{{counter}}
        <button @click="counter++">+ 1</button>
        <button @click="handleAdd">+10</button>
    </div>
    <script>
        new Vue({
            el:'#count',
            data: {
                counter:0
            },
            methods:{
                handleAdd:function(count){
                    count = count||1,
                    this.counter += count
                }
            }
        })
    </script>
</body>
</html>