<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineseller.goodinfo.goods.mapper.AttributeValueMapper">
    <insert id="addAttributeValue" parameterType="com.onlineseller.goodinfo.goods.entity.AttributeValueEntity">
--         INSERT INTO attribute_values(id, qualityId, qualityValue, goodsId) VALUES (#{id}, #{qualityId}, #{qualityValue},#{goodsId})
        INSERT INTO attribute_values(qualityId, qualityValue, goodsId) VALUES (#{qualityId}, #{qualityValue},#{goodsId})
    </insert>
    <update id="updateAttributeValueById" parameterType="com.onlineseller.goodinfo.goods.entity.AttributeValueEntity">
        UPDATE attribute_values set qualityId=#{qualityId},qualityValue=#{qualityValue},goodsId=#{goodsId} where id =#{id}
    </update>
    <delete id="deleteAttributeValueById" parameterType="int">
        DELETE FROM attribute_values WHERE id=#{id}
    </delete>
    <select id="getAttributeValueByGoodsId" parameterType="int"
            resultType="com.onlineseller.goodinfo.goods.entity.AttributeValueEntity">
        SELECT * FROM attribute_values WHERE goodsId=#{goodsId}
    </select>
</mapper>