<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineseller.goodinfo.goods.mapper.ProductValueMapper">

    <insert id="addProductValue" parameterType="com.onlineseller.goodinfo.goods.entity.ProductValueEntity">
--         INSERT INTO standard_values(id, productId, productName, productNameId) VALUES (#{id}, #{productId}, #{productName},#{productNameId})
    INSERT INTO standard_values(goodsId, productName, productNameId,moneyChange) VALUES (#{productId}, #{productName},#{productNameId},#{moneyChange})
    </insert>
    <update id="updateProductValueById" parameterType="com.onlineseller.goodinfo.goods.entity.ProductValueEntity">
        UPDATE standard_values set goodsId=#{goodsId},productName=#{productName},productNameId=#{productNameId},moneyChange=#{moneyChange} where id =#{id}
    </update>
    <delete id="deleteProductValueById" parameterType="int">
        DELETE FROM standard_values WHERE id=#{id}
    </delete>
    <select id="getProductValueByProductId" parameterType="int"
            resultType="com.onlineseller.goodinfo.goods.entity.ProductValueEntity">
        SELECT * FROM standard_values WHERE goodsId=#{goodsId}
    </select>
</mapper>