<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineseller.goodinfo.goods.mapper.ProductNameMapper">
    <insert id="addProductName" parameterType="com.onlineseller.goodinfo.goods.entity.ProductNameEntity">
--         INSERT into standard_names(productNameId,productName) values (#{productNameId},#{productName})
    INSERT into standard_names(productName) values (#{productName})
    </insert>
    <update id="updateProductNameById" parameterType="com.onlineseller.goodinfo.goods.entity.ProductNameEntity">
--         UPDATE standard_names set productName=#{productName} where productNameId =#{productNameId}
    UPDATE standard_names set productName=#{productName} where productNameId =#{productNameId}
    </update>
    <delete id="deleteProductNameById" parameterType="int">
        DELETE FROM standard_names WHERE productNameId=#{productNameId}
    </delete>
    <select id="getProductNameByProductNameId" parameterType="int"
            resultType="com.onlineseller.goodinfo.goods.entity.ProductNameEntity">
        select * from standard_names where productNameId=#{productNameId}
    </select>
    <select id="isProductNameExist" parameterType="string" resultType="int">
        select count (*) from standard_names where productName =#{productName}
    </select>
    <select id="getProductNameIDByProductName" resultType="java.lang.Integer">
        select productNameId from standard_names where productName =#{productName}
    </select>
</mapper>