<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineseller.goodinfo.goods.mapper.SpuMapper">
    <insert id="addSpu" parameterType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
#         INSERT INTO spu(goodId, description, picUrl, goodScore, brandId, sellerId, classifyId,name) VALUES (#{goodId}, #{description}, #{picUrl},#{goodScore}, #{brandId}, #{sellerId},#{classifyId},#{name})
        INSERT INTO spu(description, picUrl, goodScore, brandId, sellerId, classifyId,name,price,status) VALUES (#{description}, #{picUrl},#{goodScore}, #{brandId}, #{sellerId},#{classifyId},#{name},#{price},0)
    </insert>
    <update id="updateSpuById" parameterType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        UPDATE spu set description=#{description}, picUrl=#{picUrl}, goodScore=#{goodScore}, brandId=#{brandId}, sellerId=#{sellerId}, classifyId=#{classifyId}, name=#{name},price=#{price} where goodId =#{goodId}
    </update>
    <delete id="deleteSpuById" parameterType="int">
        DELETE FROM spu WHERE goodId=#{goodId}
    </delete>
    <update id="deleteSpuByIDThroughStatus" parameterType="int">
        UPDATE spu set status=-1 WHERE goodId=#{goodId}
    </update>
    <select id="getSpuById" parameterType="int" resultType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        SELECT * FROM spu WHERE goodId=#{goodId}
    </select>
    <select id="getAllSpu" resultType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        SELECT * FROM spu
    </select>
    <select id="getSpuByLikeName" parameterType="string" resultType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        SELECT * from spu where name like #{likeWord}
    </select>
    <select id="getSpuBySellerId" parameterType="int" resultType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        select * from spu where sellerId =#{sellerId}
    </select>
    <select id="getSpuByClassifyId" parameterType="int" resultType="com.onlineseller.goodinfo.goods.entity.SpuEntity">
        select * from spu where classifyId=#{classifyId}
    </select>
</mapper>